// Define variables for your color scheme

// For example:
$red: #FD1015;
$deep-blue: rgb(12, 30, 58);
$blue: rgb(28, 68, 133);
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
