// Define variables for your color scheme

// For example:
$red: #d82b2b;
$green: #2b962b;
$deep-blue: rgb(12, 30, 58);
$blue-gradient: linear-gradient(135deg, rgba(85,129,191,1) 9%, rgba(20,64,126,1) 54%, rgba(52,50,86,1) 100%);
$blue: rgb(196, 212, 238);
$yellow: #FFC65A;
$orange: #E67E22;
$gray: #0E0000;
$light-gray: #F4F4F4;
