<div class="container">
  <h1 class="text-center my-5">The current games</h1>
  <%= simple_form_for @game do |f| %>
    <%= f.button :submit, "Start a new game", class: "btn btn-primary" %>
  <% end %>
  
  <div class="row gap-3 py-3">
    <% @games.each do |game| %>
      <div class="col-4">
        <%= render 'game_card', game: game %>
      </div>
    <% end %>
  </div>
</div>