<div data-controller="game" data-game-armies-value=<%= @armies %>>
  <div id="game-control">
    <p>Augmented Battles</p>
  </div>
  <div 
    id="game-container"
    data-game-target="container">
  </div>
</div>