<div data-controller="game" data-game-armies-value=<%= @armies.to_json %> >
  <div id="game-control">
    <p>Augmented Battles</p>
    <% @armies.each do |player, squad| %>
    <p><%= player %>: <%= squad['color'] %> - <%= squad['army'].map { |army| [army['name'], army['category']]} %></p>
    <% end %>
    
  </div>
  <div 
    id="game-container"
    data-game-target="container">
  </div>
</div>